<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-6">
       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>

    <div class="field">
    <h5>Title:</h5>
    <%= f.text_field :name, size: 50, :class => "form-control"%>
  </div><br>

  <div class="field">
    <h5>Description:</h5>
    <%= f.text_area :description, size: 50, :class => "form-control"%>
  </div><br>

  <div class="field">
  <h5>Category:</h5>
  <%= f.collection_select :category, Category.all, :id , :name, {:prompt => true}, {class: "form-control"} %>
</div><br>

  <div class="field">
  <%= f.label :start_date %><br>
  <%= f.date_select :start_date, {}, {:class => "form-control custom"} %>
</div><br>

<div class="field">
  <%= f.label :end_date %><br>
  <%= f.date_select :due_date, {}, {:class => "form-control custom"} %>
</div><br>



  <div class="actions">
    <%= f.submit 'Update Project', :class => 'btn btn-primary btn-lg btn-block' %>
  </div>
