<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-6">
       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body><br>

    <div class="container" style="width:80%;">
  <div class="card mb-3">

    <div class="card-body">
      <div class="row">
        <div class="col-sm-8">
          <h1><%= @project.name %></h1>

          <p><%= @project.description %></p>
        </div>


        <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5>Category:</h5>
          <%= @project.category %>
        </li>

      <li class="list-group-item">
        <h5>Start Date:</h5>
        <p><%= @project.start_date%></p>
        </li>

        <li class="list-group-item">
        <h5>Due Date:</h5>
        <p><%=@project.due_date %></p>
        </li>


          <%= link_to "EDIT", edit_project_path, class: "btn btn-primary" %><br>
          <%= link_to "DELETE", projects_path, method: :destroy, data: { confirm: "Are you sure you want to delete your formula? (This cannot be undone!)"}, class: "btn btn-primary" %>


      </li>
    </ul>
  </div><!-- end of card mb-3 -->
</div><br><br>


</div>






<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
